<div data-role="page" id="create" data-theme="b">  
	<div data-role="header" data-theme="b">
		<h2>Sports Picks</h2>
	</div>
	<div data-role="content">
		<div class="center">View your purchased picks below</div>
		<fieldset class="ui-grid-a">
			<div class="ui-block-a col1">
				<% @sports.each do |s| %>
				<h5><%=s.name%></h5>
				<% end %>				    
			</div>
			<div class="ui-block-b col2">
				<% @sports.each do |s| %>
					<% if(s.user_sports.first.expiration_date >= DateTime.now)%>
					<h5><%=s.user_sports.first.expiration_date%></h5>
					<% else %>
					<h5 class="expire">Expired</h5>
					<% end %>
				<%end%>
				
			</div>
		</fieldset>
		<a href="<%=selectsports_path%>" data-theme="b" class="upper" data-role="button">Renew / Add Sport</a>
		<br><br>
		<div class="center">Update your email or password below</div>
		<div data-role="fieldcontain">
			<%= form_for(@user, :url => '/userupdate') do |f| %>
				<label for="name" class="hide">email</label>
				<%= f.text_field :email, "data-theme" => "d", :placeholder => "email", :type => "email" %>
				<label for="password" class="hide">new password</label>
				<%= f.text_field :password, "data-theme" => "d", :placeholder => "new password", :type => "password" %>
				<label for="confirm-password" class="hide">confirm password</label>
				<%= f.text_field :password_confirmation, "data-theme" => "d", :placeholder => "confirm", :type => "password" %>
				<%= render 'shared/error_messages', :object => f.object %>
				<% flash.each do |key, value| %>
					<div class="center"><%= value %></div>
				<% end %>
				<%= f.submit "UPDATE", "data-theme" => "b" %>
			<% end %>
		</div>
		
	</div>