<div data-role="page" id="create" data-theme="b">  
	<div data-role="header" data-theme="b">
		<%= link_to "back", signin_path, "data-transition" => "flip", "data-direction" => "reverse", "data-theme" => "b", "data-icon" => "arrow-l" %>
		<h2>Sports Picks</h2>
		<a href="#" onclick="$('#new_user').submit()" data-theme="b" data-icon="arrow-r">next</a>
	</div>
	<div data-role="content">
		<div class="center">Create your account below</div>
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		<div data-role="fieldcontain">
			<label for="name" class="hide">email</label>
			<%= f.text_field :email, "data-theme" => "d", :placeholder => "email", :type => "email" %>
			<label for="password" class="hide">password</label>
			<%= f.text_field :password, "data-theme" => "d", :placeholder => "password", :type => "password" %>
			<label for="confirm-password" class="hide">confirm password</label>
			<%= f.text_field :password_confirmation, "data-theme" => "d", :placeholder => "confirm", :type => "password" %>

		</div>
		<% end %>
	</div>
</div>
